
.summary-card {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -6rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #b1b1b1;
  box-shadow: 0 4px 6px #575757;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.card-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.summary-details {
  display: flex;
  flex-direction: column; /* Default for mobile */
  gap: 20px;
}

.summary-item {
  flex: 1;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.summary-item h3 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.summary-item p {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  justify-content: center;
}

/* Desktop View: Arrange content from right to left */
@media (min-width: 768px) {
  .summary-details {
    flex-direction: row-reverse; /* Right to left arrangement */
    justify-content: space-between;
  }
}
